.vscode/**
.github/**
.vscode-test/**
.gitignore
out/test/**
out/**/*.map
src/**
tsconfig.json
tslint.json
st_demo.st
test.iecst
test.xml
test.md
images/icon.psd
images/demo.gif
images/md-highlight.png
index.js