<?xml version="1.0" encoding="windows-1251"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.xtext.org/example/iecst/IECST"
			class = "org.xtext.example.iecst.iECST.IECSTPackage"
			genModel = "model/generated/IECST.genmodel" />
	</extension>
</plugin>
